@using VandalFood.BLL.Helpers;
@model IEnumerable<VandalFood.DAL.Models.Operator>

@{
    ViewData["Title"] = "TryCreate";
}

<h1>Перелік працівників</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeftName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RightName)
            </th>
            <th>
                Роль
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeftName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RightName)
            </td>
            <td>
                @RoleTypeHelper.GetTitle(item.RoleTypeId)
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Видалити", "TryDelete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
